@import 'common-values.scss';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /** APP STYLES **/
  background-color: #FAFBFC;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/** SCHEMATIC IMAGES ***********************************************/
#schematic-images {

  background-image: url($schematic-img-base-path + 'schematic-base.png');
  position: relative;
  top: 0px;
  left: 0px;
  width: 721px;
  height: 659px;

  div {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 721px;
    height: 659px;
  }

  div.peritubular-capillary {
    background-image: url($schematic-img-base-path + 'peritubular-capillary.png');
  }

  div.arteriole {
    background-image: url($schematic-img-base-path + 'arteriole.png');
  }

  div.glomerular-endothelial {
    background-image: url($schematic-img-base-path + 'glomerular-endothelial.png');
  }

  div.ascending-vasa-recta {
    background-image: url($schematic-img-base-path + 'ascending-vasa-recta.png');
  }

  div.descending-vasa-recta {
    background-image: url($schematic-img-base-path + 'descending-vasa-recta.png');
  }

  div.mesangial-cell {
    background-image: url($schematic-img-base-path + 'mesangial-cell.png');
  }

  div.podocyte {
    background-image: url($schematic-img-base-path + 'podocyte.png');
  }

  div.macrophage {
    background-image: url($schematic-img-base-path + 'macrophage.png');
  }

  div.monocyte {
    background-image: url($schematic-img-base-path + 'monocyte.png');
  }

  div.t-cells {
    background-image: url($schematic-img-base-path + 't-cells.png');
  }

  div.fibroblast {
    background-image: url($schematic-img-base-path + 'fibroblast.png');
  }

  div.vascular-smooth {
    background-image: url($schematic-img-base-path + 'vascular-smooth.png');
  }

  div.connecting-tubule {
    background-image: url($schematic-img-base-path + 'connecting-tubule.png');
  }

  div.descending-loop {
    background-image: url($schematic-img-base-path + 'descending-loop.png');
  }

  div.distal-tubule {
    background-image: url($schematic-img-base-path + 'distal-tubule.png');
  }

  div.intercalated-cells {
    background-image: url($schematic-img-base-path + 'intercalated-cells.png');
  }

  div.principal-cells {
    background-image: url($schematic-img-base-path + 'principal-cells.png');
  }

  div.proximal-tubule {
    background-image: url($schematic-img-base-path + 'proximal-tubule.png');
  }

  div.thick-ascending-loop {
    background-image: url($schematic-img-base-path + 'thick-ascending-loop.png');
  }

  div.thin-ascending-loop {
    background-image: url($schematic-img-base-path + 'thin-ascending-loop.png');
  }
}

/** VENN SITE SELECTOR STYLES **************************************/
.site-selector-group {
  max-width: 300px;
  margin-top: 20px;

  .umich_sc.active {
    background: #D4E3F5 !important;
  }

  .ucsf_sc.active {
    background: #EBC1C6 !important;
  }

  .ucsd_sn.active {
    background: #EFF8E2 !important;
  }

  .site-selector-label {
    width: 100%;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 3px;
    color: #424B5A !important;
  }
}

/** VENN DIAGRAM STYLES ********************************************/
svg {
  g.venn-area[data-venn-sets="umich_sc"] {
    fill: #D4E3F5;
    border: 1px rgba(240, 240, 240, 0.5);
  }

  g.venn-area[data-venn-sets="ucsf_sc"] {
    fill: #EBC1C6;
    border: 1px rgba(240, 240, 240, 0.5);
  }

  g.venn-area[data-venn-sets="ucsd_sn"] {
    fill: #EFF8E2;
    border: 1px rgba(240, 240, 240, 0.5);
  }

  g.venn-area[data-venn-sets="ucsf_sc_umich_sc"] {
    fill: #CAACBF;
    border: 1px rgba(240, 240, 240, 0.5);
  }

  g.venn-area[data-venn-sets="ucsd_sn_ucsf_sc"] {
    fill: #DEBBB0;
    border: 1px rgba(240, 240, 240, 0.5);
  }

  g.venn-area[data-venn-sets="ucsd_sn_umich_sc"] {
    fill: #CFE3DA;
    border: 1px rgba(240, 240, 240, 0.5);
  }

  g.venn-area[data-venn-sets="ucsd_sn_ucsf_sc_umich_sc"],
  g.venn-area[data-venn-sets="ucsd_sn_umich_sc_ucsf_sc"] {
    fill: #C6ABAB;
    border: 1px rgba(240, 240, 240, 0.5);
  }

  g.venn-area text, g.venn-area text tspan,
  g.venn-intersection text, g.venn-intersection text tspan {
    color: black;
    fill: black;
    font-weight: bold;
    stroke: rgba(255, 255, 255, 0.5);
  }
}

/** COPY PASTA FROM DELPHINUS FOR HEADER TREATMENT *****************/
#demo-text {
  line-height: $header-height;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  @media only screen and (max-width: 767px) {
    display: none;
  }
}

#demo-text-small {
  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.highlight {
  color: darkgoldenrod;
  font-size: 20px;
  font-weight: 700;
}

.container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

#schematic-viewer, #data-viewer {
  position: relative;
  top: 60px;

  .header-row {
    height: 38px;
    margin-left: 15px;
  }

  h4, h5, h6 {
    color: rgba(55, 64, 80, 1);
  }

  .my-auto h4, .my-auto h5, .my-auto h6 {
    display: inline;
  }

  .page-header {
    padding: 20px 0px;
    height: 80px;
  }

  .column-header {
    padding: 20px 0px;
    height: 80px;
  }

  .venn-header>h6 {
    display: inline;
    margin: auto 0px;
  }

  .bottom-spacer {
    height: 15px;
  }

  .left-border-column, #venn-diagram {
    padding-left: 30px;
    border: 1px solid #CCCCCC;
    border-radius: 3px 0px 0px 3px;
    border-right: 0px;
    background-color: #FFFFFF;
  }

  .right-border-column, #gene-data-table {
    border: 1px solid #CCCCCC;
    border-radius: 0px 3px 3px 0px;
    background-color: #FFFFFF;

    .ReactTable {
      width: 100%;
      margin: auto 16px;
    }
  }

  .cell-structure-list {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 20px;
    font-size: small;

    .cell-structure-name {
      font-weight: bold;
    }

    .cell-type-list {
      list-style-type: none;
      padding-left: 20px;
      font-size: small;
    }
  }

  .page-instructions {
    padding: 20px;
    font-size: small;
  }

  a.btn.instruction {
    color: #0069D9;
  }

  a.btn.instruction:hover {
    color: #FFFFFF;
  }
}

.popover {
  .popover-body {
    ul {
      padding-left: 10px;
    }
  }
}

.instruction-wrapper {
  display: inline-block;
}

.data-table-instruction-popover {
  max-width: 700px;
}

.nav-container {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(121, 121, 121, 1);
  border-radius: 0px;
  margin-left: 0px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  height: $header-height;
  position: fixed;
  top: 0px;
  z-index: 1000;
  background: white;

  .logo {
    height: 50px;
  }

  .navbar-brand {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-right: 38px;
  }

  #feedback-button {
    margin-left: 20px;
  }
}
