@import 'common-values.scss';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/** SCHEMATIC IMAGES ***********************************************/
#schematic-images {

  background-image: url($schematic-img-base-path + 'schematic-base.png');
  position: relative;
  top: 0px;
  left: 0px;
  width: 721px;
  height: 659px;

  div {
    position: relative;
    top: 0px;
    left: 0px;
    width: 721px;
    height: 659px;
  }

  div.peritubular-capillary {
    background-image: url($schematic-img-base-path + 'peritubular-capillary.png');
  }

  div.arteriole {
    background-image: url($schematic-img-base-path + 'arteriole.png');
  }

  div.glomerular-endothelial {
    background-image: url($schematic-img-base-path + 'glomerular-endothelial.png');
  }

  div.ascending-vasa-recta {
    background-image: url($schematic-img-base-path + 'ascending-vasa-recta.png');
  }

  div.descending-vasa-recta {
    background-image: url($schematic-img-base-path + 'descending-vasa-recta.png');
  }

  div.mesangial-cell {
    background-image: url($schematic-img-base-path + 'mesangial-cell.png');
  }

  div.podocyte {
    background-image: url($schematic-img-base-path + 'podocyte.png');
  }

  div.macrophage {
    background-image: url($schematic-img-base-path + 'macrophage.png');
  }

  div.monocyte {
    background-image: url($schematic-img-base-path + 'monocyte.png');
  }

  div.t-cells {
    background-image: url($schematic-img-base-path + 't-cells.png');
  }

  div.interstitium {
    background-image: url($schematic-img-base-path + 'interstitium.png');
  }

  div.vascular-smooth {
    background-image: url($schematic-img-base-path + 'vascular-smooth.png');
  }

  div.connecting-tubule {
    background-image: url($schematic-img-base-path + 'connecting-tubule.png');
  }

  div.descending-loop {
    background-image: url($schematic-img-base-path + 'descending-loop.png');
  }

  div.distal-tubule {
    background-image: url($schematic-img-base-path + 'distal-tubule.png');
  }

  div.intercalated-cells {
    background-image: url($schematic-img-base-path + 'intercalated-cells.png');
  }

  div.principal-cells {
    background-image: url($schematic-img-base-path + 'principal-cells.png');
  }

  div.proximal-tubule {
    background-image: url($schematic-img-base-path + 'proximal-tubule.png');
  }

  div.thick-ascending-loop {
    background-image: url($schematic-img-base-path + 'thick-ascending-loop.png');
  }

  div.thin-ascending-loop {
    background-image: url($schematic-img-base-path + 'thin-ascending-loop.png');
  }
}

/** VENN SITE SELECTOR STYLES **************************************/
.site-selector-group {
  max-width: 200px;

  .umich_sc {
    background: rgba(50, 50, 255, 1);
    color: white;
  }

  .ucsf_sc {
    background: rgba(255, 50, 50, 1);
    color: white;
  }

  .ucsd_sn {
    background: rgba(50, 255, 50, 1);
    color: white;
  }
}

/** VENN DIAGRAM STYLES ********************************************/
svg {
  g.venn-area[data-venn-sets="umich_sc"] {
    fill: rgba(50, 50, 255, 1);
  }

  g.venn-area[data-venn-sets="ucsf_sc"] {
    fill: rgba(255, 50, 50, 1);
  }

  g.venn-area[data-venn-sets="ucsd_sn"] {
    fill: rgba(50, 255, 50, 1);
  }

  g.venn-area[data-venn-sets="ucsf_sc_umich_sc"] {
    fill: rgba(173, 65, 240, 1);
    stroke: rgba(255, 255, 255, 0.25);
    stroke-width: 2px;
  }

  g.venn-area[data-venn-sets="ucsd_sn_ucsf_sc"] {
    fill: rgba(231, 240, 65, 1);
    stroke: rgba(255, 255, 255, 0.25);
    stroke-width: 2px;
  }

  g.venn-area[data-venn-sets="ucsd_sn_umich_sc"] {
    fill: rgba(65, 240, 205, 1);
    stroke: rgba(255, 255, 255, 0.25);
    stroke-width: 2px;
  }

  g.venn-area[data-venn-sets="ucsd_sn_ucsf_sc_umich_sc"],
  g.venn-area[data-venn-sets="ucsd_sn_umich_sc_ucsf_sc"] {
    fill: rgba(255, 255, 255, 1);
  }

  g.venn-area text.label tspan,
  g.venn-intersection text.label tspan {
    color: black;
    fill: black;
    font-weight: bold;
    stroke: rgba(255, 255, 255, 0.5);
  }

  g.venn-area[data-venn-sets="umich_sc"] text.label tspan,
  g.venn-area[data-venn-sets="ucsd_sn_umich_sc"] text.label tspan,
  g.venn-area[data-venn-sets="ucsf_sc_umich_sc"] text.label tspan {
    fill: white !important;
  }
}

/** COPY PASTA FROM DELPHINUS FOR HEADER TREATMENT *****************/
#demo-text {
  line-height: $header-height;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  @media only screen and (max-width: 767px) {
    display: none;
  }
}

#demo-text-small {
  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.highlight {
  color: darkgoldenrod;
  font-size: 20px;
  font-weight: 700;
}

.container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

#schematic-viewer, #data-viewer {
  position: relative;
  top: 60px;
}

.nav-container {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(121, 121, 121, 1);
  border-radius: 0px;
  margin-left: 0px !important;
  padding-left: 0px !important;
  height: $header-height;
  position: fixed;
  top: 0px;
  z-index: 1000;
  background: white;

  .logo {
    margin-top: 5px;
    margin-left: 5px;
    height: 50px;
  }

  .navbar-brand {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  #feedback-button {
    margin-top: 10px;
  }
}
